KURWA_AUTH_TOKEN=change-me
KURWA_HOST_MSSQL=1433
KURWA_HOST_PG=25432
KURWA_HOST_MYSQL=23306
KURWA_HOST_RESP=26379
KURWA_HOST_MONGO=27117
KURWA_HOST_HTTP=24040
KURWA_LOG_LEVEL=notice
KURWA_COOKIE=change-me-too
KURWA_PUBLIC_HOST=10.10.10.112
KURWA_DASHBOARD_SHOW_PASSWORD=0
